<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Kepiture Insights</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{/js/tether.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
